<h4>Signed in as user <em><%=@user.username%></em></h4>
<h2>Your Decks:</h2>
<ul>
    <%@user.decks.each do |deck|%>
        <li><a href="/decks/<%=deck.slug%>"> <%=deck.name%></a> (<%=deck.cards.count%> cards)</li>
    <%end%>
</ul>
<form action="/decks/new" method="GET">
<button value="submit">Create New Deck</button>
</form>

<h2>Other Decks:</h2>
<ul>
    <%@decks.each do |deck|%>
        <%if deck.user_id != @user.id%>
            <li><a href="decks/<%=deck.slug%>"> <%=deck.name%> </a> by user <%=deck.user.username%> (<%=deck.cards.count%> cards)</li>
        <%end%>
    <%end%>
</ul>