<h3><%=@deck.name%></h3>

<form action="/decks/<%=@deck.slug%>/cards/:id" method="GET">
<button type="submit">Test your knowledge</button>
</form>

<%if @deck.user_id == Helpers.current_user(session).id%>
<p><em>Update your deck:</em><p>

<form action="decks/<%=@deck.slug%>/cards" method="POST">
<p>Add<input type="number" name="number">more cards
<button type="submit">Add</button></p>
</form>

<form action="/decks/<%=@deck.slug%>/edit" method="GET">
<button type="submit" value="edit">Edit Deck Name</button>
</form>

<form action="/decks/<%=@deck.slug%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<button type="submit" value="delete">Delete Deck</button>
</form>

<%end%>
